@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  width: 100%;
  height: 100vh;
  padding: 1rem;
  overflow: hidden;
  @apply flex flex-row gap-4;
}

.border-content {
  @apply rounded-xl border-8 border-gray-600 overflow-hidden;
}

.left-side {
  @apply h-full w-3/4 bg-slate-700 flex flex-col justify-between gap-4;
}

.left-side-content {
  @apply h-1/2 flex flex-row justify-between items-center p-8;
}

.intern-left-side-content {
  @apply h-full flex justify-center items-center;
}

.word-side {
  @apply font-bold text-white text-4xl;
}

.right-side {
  @apply h-full w-1/4 bg-slate-700 p-8;
}
