.left-side-letterBoard {
  background-image: url("../assets/keyBoard-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  @apply h-1/2 p-8 flex flex-row gap-2 flex-wrap
    justify-center;
}

.letter-btn {
  @apply w-[50px] border-yellow-950  bg-amber-900 rounded-xl text-2xl p-2 border-4 font-semibold text-amber-100;
}

.song-toggle-btn {
  @apply border-yellow-950 border-4 p-2 rounded-xl bg-amber-900;
}

.btn-pressed {
  @apply bg-slate-200 border-slate-400 text-slate-400;
}
